In [3]:
#Équipe 7
#Membres de l'équipe 
#Foulémata Tirera, Gabriel Laberge, Morgan Péju, Maninder Bhogal, Jean-Christophe Desmarais, Pascal Dally-Bélanger

In [4]:
import pandas as pd
from functools import reduce
film_df = pd.read_csv("donnees/film.csv")
#keeping columns that have no missing values
film_df = film_df.rename(columns={"FilmoId": "filmoId"}, errors="raise")
film_df = film_df[['filmoId', 'titreOriginal', 'anneeSortie']]
film_df

        filmoId              titreOriginal  anneeSortie
0             3     HANNAH AND HER SISTERS       1986.0
1             5        GUILTY BY SUSPICION       1991.0
2             6            TACONES LEJANOS       1991.0
3             7         DIARY OF A HIT MAN       1991.0
4             8               STEPPING OUT       1991.0
...         ...                        ...          ...
104389   110073          TABLES AND CHAIRS       1974.0
104390   110074  THREE WORKS FOR MIND/BODY       1975.0
104391   110075  THREE PIECES FOR CIRCUITS       1974.0
104392   110076                        NaN          NaN
104393   110077                        NaN          NaN

[104394 rows x 3 columns]

In [5]:
#donnees de wikidata

film_genres = pd.read_csv("donnees/movie_genres.csv")
film_langues = pd.read_csv("donnees/movie_langues.csv")
film_places = pd.read_csv("donnees/movie_places.csv")
film_directors = pd.read_csv("donnees/movie_directors.csv")

In [6]:
#donnees de cinématèque quebecoise 
#*********directors cleanup ***************

#combining the names of the actors with the movies they were in
nom = pd.read_csv("donnees/Nom.csv")
film_realisation = pd.read_csv("donnees/Filmo_Realisation.csv")
film_realisation['NomId'] = film_realisation['nomId']
film_director = pd.merge(film_realisation,nom, on='NomId', how="inner")


#combining the first name and last name of the actor
#film_director = film_director[['filmoId','nom','prenom']]
film_director['Nom']= film_director['prenom'] + ' ' + film_director['nom']
film_director = film_director.drop(columns=["nom", "prenom"])

#getting functions of each person
fonction = pd.read_csv("donnees/Fonction.csv")
filmo_generique = pd.read_csv("donnees/Filmo_Generique.csv")
filmo_generique['FonctionId'] = filmo_generique['fonctionId']
film_fonctions = pd.merge(fonction,filmo_generique, on='FonctionId', how="inner")
film_fonctions['Role'] = film_fonctions['terme']
film_fonctions = film_fonctions.drop(columns=["filmoId","terme", "organismeId", "fonctionId", "FonctionId","GeneriqueId"])

#PERSONNES ET GENRES
film_fonctions = pd.merge(film_fonctions,film_director,on="nomId", how="inner")
film_fonctions

          nomId                 Role  filmoId  NomId              Nom
0       39611.0            Animation    21327  39611     Manuel Otéro
1       39611.0            Animation    21328  39611     Manuel Otéro
2       39611.0            Animation    21329  39611     Manuel Otéro
3       39611.0            Animation    35101  39611     Manuel Otéro
4       39611.0            Animation    36538  39611     Manuel Otéro
...         ...                  ...      ...    ...              ...
828671  19033.0  Producteur exécutif    52126  19033  Laurent Ferrier
828672  25967.0  Producteur exécutif    28347  25967     Latif Lahlou
828673  74459.0  Producteur exécutif    61149  74459    Chris Sanders
828674  74459.0  Producteur exécutif    93648  74459    Chris Sanders
828675  74459.0  Producteur exécutif   101865  74459    Chris Sanders

[828676 rows x 5 columns]

In [7]:
#donnees de cinématèque quebecoise 
#*********langue cleanup ***************

langue = pd.read_csv("donnees/Langue.csv")
filmo_langue = pd.read_csv("donnees/Filmo_Langue.csv")
filmo_langue['LangueId'] = filmo_langue['langueId']
film_langue = pd.merge(filmo_langue,langue, on='LangueId', how="inner")
film_langue['langue'] = film_langue[['terme']]
film_langue = film_langue[['filmoId','langue']]

film_langue

       filmoId    langue
0            5   anglais
1           25   anglais
2           35   anglais
3           57   anglais
4           74   anglais
...        ...       ...
43530   107557    ojibwé
43531   108550   cebuano
43532   109078   kelabit
43533   109333   naskapi
43534   109333  abenakis

[43535 rows x 2 columns]

In [8]:
#donnees de cinématèque quebecoise 
#*********pays cleanup ***************

pays = pd.read_csv("donnees/Pays.csv")
filmo_pays = pd.read_csv("donnees/Filmo_Pays.csv")
filmo_pays['PaysId'] = filmo_pays['paysId']
film_pays = pd.merge(filmo_pays,pays, on='PaysId', how="inner")
film_pays['pays'] = film_pays[['terme']]
film_pays = film_pays[['filmoId','pays']]

film_pays

        filmoId                        pays
0             3                  États-Unis
1             5                  États-Unis
2             7                  États-Unis
3             8                  États-Unis
4            10                  États-Unis
...         ...                         ...
114708   105631           France : Bretagne
114709   106748     Dominicaine, République
114710   106637                     Lesotho
114711   109730    Canada : Nouvelle-Écosse
114712   109877  Canada : Nouveau-Brunswick

[114713 rows x 2 columns]

In [9]:
#donnees de cinématèque quebecoise 
#LANGUE ET PAYS 
dfs = [film_langue, film_pays]
langue_pays = reduce(lambda left, right: pd.merge(left, right, on='filmoId', how="inner"), dfs)
langue_pays

#there's more colummns now because some movies are produced in two countries

       filmoId    langue         pays
0            5   anglais   États-Unis
1           25   anglais       Italie
2           25   anglais  Royaume-Uni
3           25  français       Italie
4           25  français  Royaume-Uni
...        ...       ...          ...
52300   103925  Dzongkha     Finlande
52301   103925  Dzongkha      Bhoutan
52302   105511  Dzongkha      Espagne
52303   105511  Dzongkha         Cuba
52304   105511  Dzongkha    Venezuela

[52305 rows x 3 columns]

In [10]:
#donnees de cinématèque quebecoise 
#*********genre cleanup ***************

genres = pd.read_csv("donnees/GenresCategories_Wikidata.csv")
filmo_genre = pd.read_csv("donnees/Filmo_GenreCategories.csv")
filmo_genre = pd.merge(filmo_genre,genres, on='sujetId', how="inner")
filmo_genre['genre'] = filmo_genre['lienWikidata']
filmo_genre = filmo_genre[['filmoId','genre']]
filmo_genre

        filmoId                                   genre
0         57864   http://www.wikidata.org/entity/Q93204
1         55784   http://www.wikidata.org/entity/Q93204
2         20937   http://www.wikidata.org/entity/Q93204
3         53108   http://www.wikidata.org/entity/Q93204
4         61024   http://www.wikidata.org/entity/Q93204
...         ...                                     ...
121030    62691  http://www.wikidata.org/entity/Q229390
121031    75863  http://www.wikidata.org/entity/Q229390
121032    97606  http://www.wikidata.org/entity/Q229390
121033   109769  http://www.wikidata.org/entity/Q229390
121034   109773  http://www.wikidata.org/entity/Q229390

[121035 rows x 2 columns]

In [15]:
#getting movies genre label   
movies_genre = pd.merge(film_df, filmo_genre, on='filmoId', how="inner")
#film_genres = film_genres.drop(columns=['film','titreOriginal'])
#movies = movies.sort_values(by='filmoId')
film_genres = film_genres.drop_duplicates()
#film_genres
genre_labels = pd.merge(filmo_genre, film_genres, on='genre', how="inner")
genre_labels

,filmoId,genre,genreLabel
0,57864,http://www.wikidata.org/entity/Q93204,SÉRIES DOCUMENTAIRES (TV)
1,57864,http://www.wikidata.org/entity/Q93204,SÉRIES DOCUMENTAIRES
2,57864,http://www.wikidata.org/entity/Q93204,DOCUMENTAIRES (VIDÉO)
3,57864,http://www.wikidata.org/entity/Q93204,DOCUMENTAIRE
4,57864,http://www.wikidata.org/entity/Q93204,SÉRIE DOCUMENTAIRE
...,...,...,...
372993,107830,http://www.wikidata.org/entity/Q226730,MUET
372994,107831,http://www.wikidata.org/entity/Q226730,MUET
372995,108164,http://www.wikidata.org/entity/Q226730,MUET
372996,436,http://www.wikidata.org/entity/Q226730,MUET
372997,109666,http://www.wikidata.org/entity/Q226730,MUET

In [16]:
#genre combiend with data from database

movies_genre = pd.merge(film_df, genre_labels, on='filmoId', how="inner")
movies_genre = movies_genre.sort_values(by='filmoId')
movies_genre
#movies_genre.groupby(movies_genre['filmoId']).count()

,filmoId,titreOriginal,anneeSortie,genre,genreLabel
0,5,GUILTY BY SUSPICION,1991.0,http://www.wikidata.org/entity/Q2484376,THRILLERS
1,5,GUILTY BY SUSPICION,1991.0,http://www.wikidata.org/entity/Q2484376,THRILLERS (TV)
2,5,GUILTY BY SUSPICION,1991.0,http://www.wikidata.org/entity/Q2484376,THRILLERS (VIDÉO)
3,5,GUILTY BY SUSPICION,1991.0,http://www.wikidata.org/entity/Q2484376,THRILLER
4,17,URANUS,1990.0,http://www.wikidata.org/entity/Q157443,COMÉDIES (VIDÉO)
...,...,...,...,...,...
372994,110075,THREE PIECES FOR CIRCUITS,1974.0,http://www.wikidata.org/entity/Q790192,"EXPÉRIMENTAUX, FILMS"
372996,110075,THREE PIECES FOR CIRCUITS,1974.0,http://www.wikidata.org/entity/Q459290,"INDÉPENDANTE, VIDÉO"
372992,110075,THREE PIECES FOR CIRCUITS,1974.0,http://www.wikidata.org/entity/Q790192,EXPÉRIMENTAL
372993,110075,THREE PIECES FOR CIRCUITS,1974.0,http://www.wikidata.org/entity/Q790192,"EXPÉRIMENTAUX, VIDÉOS"
372997,110075,THREE PIECES FOR CIRCUITS,1974.0,http://www.wikidata.org/entity/Q459290,"INDÉPENDANTS, FILMS"

In [ ]:
#genre combined with data from wikidata 

#movies_genre_wiki = pd.merge(film_df,film_genres,on="titreOriginal",how="inner")
#movies_genre_wiki
#movies_genre_wiki.groupby(movies_genre_wiki['filmoId']).count()

In [17]:
film_fonctions = pd.merge(movies_genre,film_fonctions,on="filmoId")
film_direction = film_fonctions[film_fonctions['Role']=="Direction de production"]
#film_direction = film_direction.drop(columns=["nomId","NomId"])
film_direction

,filmoId,titreOriginal,anneeSortie,genre,genreLabel,nomId,Role,NomId,Nom
5201,252,PASSIFLORA,1985.0,http://www.wikidata.org/entity/Q93204,DOCUMENTAIRES,55330.0,Direction de production,55330,Dagmar Gueissaz-Teufel
5245,252,PASSIFLORA,1985.0,http://www.wikidata.org/entity/Q93204,DOCUMENTAIRES (TV),55330.0,Direction de production,55330,Dagmar Gueissaz-Teufel
5289,252,PASSIFLORA,1985.0,http://www.wikidata.org/entity/Q93204,SÉRIE DOCUMENTAIRE,55330.0,Direction de production,55330,Dagmar Gueissaz-Teufel
5333,252,PASSIFLORA,1985.0,http://www.wikidata.org/entity/Q93204,DOCUMENTAIRES (VIDÉO),55330.0,Direction de production,55330,Dagmar Gueissaz-Teufel
5377,252,PASSIFLORA,1985.0,http://www.wikidata.org/entity/Q93204,SÉRIES DOCUMENTAIRES,55330.0,Direction de production,55330,Dagmar Gueissaz-Teufel
...,...,...,...,...,...,...,...,...,...
4686892,109928,COMPAGNONS DU LION D'OR,NaN,http://www.wikidata.org/entity/Q93204,SÉRIES DOCUMENTAIRES (TV),35506.0,Direction de production,35506,Louis Ricard
4686903,109928,COMPAGNONS DU LION D'OR,NaN,http://www.wikidata.org/entity/Q93204,DOCUMENTAIRES (TV),35506.0,Direction de production,35506,Louis Ricard
4690212,110007,COULEUR DE TES LÈVRES,2018.0,http://www.wikidata.org/entity/Q459290,"INDÉPENDANTE, VIDÉO",146370.0,Direction de production,146370,Annick Blanc
4690226,110007,COULEUR DE TES LÈVRES,2018.0,http://www.wikidata.org/entity/Q459290,PRODUCTION INDÉPENDANTE,146370.0,Direction de production,146370,Annick Blanc
4690240,110007,COULEUR DE TES LÈVRES,2018.0,http://www.wikidata.org/entity/Q459290,"INDÉPENDANTS, FILMS",146370.0,Direction de production,146370,Annick Blanc

             filmoId  titreOriginal
anneeSortie
1886.0             1              1
1892.0             2              2
1893.0             1              1
1894.0             6              6
1895.0            22             22
...              ...            ...
2016.0           300            300
2017.0           186            186
2018.0            54             54
2019.0             2              2
2201.0             1              1

[130 rows x 2 columns]